@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    color: #31525b;
}

body {
    background: #fae6b1 !important;
    color: #31525b;
    font-family: 'Montserrat', cursive;
    font-weight: 300;
}

.wrapper {
    font-family: 'Montserrat', cursive;
    width: 100%;
    margin: 50px auto;
    padding: 0 20px;
    box-sizing: border-box;
}

header .logo {
    font-weight: 600;
    font-size: 20px;
}

header {
    position: relative;
}

ul.nav {
    font-size: 50px;
    text-align: center;
    bottom: 50px;
    list-style: none;
}

ul.nav li {
    margin-right: 50px;
    display: inline;
    cursor: pointer;
    transition: opacity 500ms ease;
}

ul.nav li:hover {
    opacity: 0.5;
    color: #ffa101;
}

.shop-cart-button {
    right: 3%;
    cursor: pointer;
    font-size: 50px;
    top: 60px !important;
    transition: color, transform 500ms ease;
    position: fixed;
    z-index: 11111;
}

.shop-cart-button:hover,
.shop-cart-button.active {
    color: #ffa101;
    transform: scale(1.5);
}
.shop-main{
    padding: 20px;
}
.shop-cart {
    position: absolute;
    top: 120px;
    right: 450px;
    width: 450px;
    background: #b3dee5;
    box-shadow: 4px 5px 15px 7px #31525b;
    z-index: 999999;
    float: left;
    padding-bottom: 0;
    border-radius: 3px;

}

.shop-cart .item {
    width: 100%;
    height: 100px;
}

.shop-cart .item img {
    width: 95px;
    float: left;

    margin-right: 20px;
}

.shop-cart p {
    font-size: 40px;
    text-align: center;
}

.shop-cart .empty h2 {
    font-size: 40px;
    text-align: center;
}

.shop-cart .item h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.shop-cart .item b {
    font-size: 30px;
    color: #31525b;
    text-shadow: 0px 0px 5px gold;
}

.shop-cart .item .delete-icon {
    color: #31525b;
    float: right;
    position: relative;
    cursor: pointer;
    transition: color, transform 500ms ease;

}

.shop-cart .item .delete-icon:hover {
    transform: scale(1.3);
    color: #ffa101;
}

.shop-cart h2 {
    padding-bottom: 10px;
}

.shop-cart .summa {
    font-weight: 600;
    text-shadow: 0px 0px 5px gold;

}

.presentation {
    margin: 50px 0;
    z-index: -1;
    background: url('https://cdn.wallpapersafari.com/59/48/x72Sle.jpg') no-repeat;
    width: 100%;
    height: 703px;
    border-radius: 5px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #fae6b1;
    position: relative;
}

main, .categories {
    display: block;
}

/* Медіазапит для екранів шириною не більше 480px */
@media screen and (max-width: 480px) {
    .wrapper {
        width: 400px;
    }
    a, ul.nav,.shop-cart-button  {
        font-size: 40px;
    }
    ul.nav li {
        display: inline-block;
    }
    main .item {
        width: 60% !important;
    }
    h2, b {
        font-size: 20px !important;
    }
    .mainAbout {
        margin-top: 15% !important;
    }
}

/* Медіазапит для екранів шириною від 481px до 768px */
@media (min-width: 481px) and (max-width: 768px) {
    .wrapper {
        width: 500px !important;
    }
    .mainAbout {
        margin-top: 10% !important;
    }
    ul.nav li {
    }
    .shop-cart {
        top: 120px;
        right: 50px;
        width: 450px;
    }
    main .item {
        width: 45% !important;
    }
    ul.nav,.shop-cart-button  {
        font-size: 30px;
    }
    .presentation:after {
        left: 6% !important;
        font-size: 30px;

    }
}

/* Медіазапит для екранів шириною від 769px до 992px */
@media (min-width: 769px) and (max-width: 992px) {
    .wrapper {
        width: 800px;
    }

    .shop-cart {
        top: 120px;
        right: 50px;
        width: 450px;
    }
    .presentation:after {
        left: 23% !important;
    }
}

/* Медіазапит для екранів шириною від 993px до 1050px */
@media (min-width: 993px) and (max-width: 1050px) {
    .wrapper {
        width: 950px;
    }
    .presentation:after {
        left: 28% !important;
    }
}

/* Медіазапит для екранів шириною від 1051px до 1250px */
@media (min-width: 1051px) and (max-width: 1250px) {
    .wrapper {
        width: 900px;
    }
    .presentation:after {
        left: 27% !important;
    }

}

/* Медіазапит для екранів шириною більше 1250px */
@media (min-width: 1251px) {
    .wrapper {
        width: 1100px;
    }

    .shop-cart {
        top: 120px;
        right: 50px;
        width: 450px;
    }
}


.presentation:after {
    content: 'Game News';
    font-family: 'Honk', system-ui;
    position: absolute;
    top: 550px;
    left: 32%;
    text-align: center;
    width: 400px;
    font-weight: 600;
    font-size: 80px;
    color: white;
}

.full-item img,
main .item img {
    width: 100%;
    border-radius: 5px;
    transition: transform 500ms ease;
    cursor: pointer;
}

main .item img:hover {
    transform: scale(1.1) !important;
}

/*.presentation:before {*/
/*    content: 'Free apps';*/
/*    font-family: 'Honk', system-ui;*/
/*    position: absolute;*/
/*    text-align: right;*/
/*    top: 40px;*/
/*    left: 200px;*/
/*    width: 840px;*/
/*    font-weight: 600;*/
/*    font-size: 80px;*/
/*    color: white;*/
/*}*/


.categories {
    text-align: center;
    color: white;
}

.full-item .categories {
    margin-top: 10px;
}

.categories div {
    display: inline-block;
    background: #ffa101;
    border-radius: 50px;
    padding: 10px 20px;
    margin-bottom: 25px;
    margin-right: 15px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 500ms ease;
}

.categories div:hover {
    border-color: #31525b;
    transform: scale(1.2);
}

main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
    list-style: none;
}

.news h2 {
    text-align: center;
}

.news li {
    width: 45%;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
}

.news li {
    padding: 1rem;
    margin-bottom: 10px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    border-radius: 0.5rem;

    border-left: 0 solid #00ff99;
    transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}


.news li:hover {
    padding-left: 0.5rem;
    border-left: 0.5rem solid #00ff99;
}

.news li > :first-child {
    margin-top: 0;
}

.news li > :last-child {
    margin-bottom: 0;
}

.news {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

.full-item > div {
    width: 500px;
    position: relative;
    margin: auto;
    padding: 40px 30px;
    border-radius: 10px;
    opacity: 1

}

header .full-item p {
    font-size: 20px;
}

.full-item {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(179, 222, 229, 0.7);
    backdrop-filter: blur(10px);
    z-index: 999999999999999999;
    overflow: auto;
}

main .item {
    width: 30%;
    margin-bottom: 50px;
    background: #b3dee5;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    padding-bottom: 50px;
}


main .item img:hover.full-item img:hover {
    transform: scale(1.1);
}

.full-item b {
    /*margin: 45% 45% 0 !important;*/
}

main h2, .full-item h2,
main p, .full-item p,
main b, .full-item b {
    margin: 10px 20px;
    color: #333;
    text-align: center;
}

main b,
.full-item b {
    font-size: 30px;
    color: #31525b;
    position: absolute;
    bottom: 0;
    /*left: 0;*/
}

main .add-to-cart,
.full-item .add-to-cart {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ffa101;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;

}

main .add-to-cart:hover,
.full-item .add-to-cart:hover {
    transform: scale(1.5) translateY(-5px);
}

.mainAbout {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    background-color: #fae6b1;
    box-shadow: blue 0px 0px 0px 2px inset, rgb(250, 230, 177) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(250, 230, 177) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(250, 230, 177) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(250, 230, 177) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
}

.mainAbout p {
    padding-bottom: 10px;
}

footer {
    font-family: 'Montserrat', cursive;
    text-align: center;
    top: 100px;
}


.buttonBuy {
    color: gold;
    border: 0;
    border-radius: 16px;
    box-sizing: border-box;
    /*color: #FFFFFF;*/
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
    margin-bottom: 10px !important;
}

.buttonBuy:after {
    background: gold;
    background-clip: padding-box;
    background-color: #31525b;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}


.buttonBuy:hover:not(:disabled) {
    filter: brightness(1.1);
    background: gold;
    border: 4px solid transparent;
    padding: 8px 16px;
    -webkit-filter: brightness(1.1);
}

.buttonBuy:disabled {
    cursor: auto;
}

.buttonBuy:active {
    border-width: 4px 0 0;
    background: none;
}



.mainProfile {
    text-align: center;
    background-color: rgba(255,255,255,0.13);
    width: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 60px;
    backdrop-filter: blur(10px);
    /*border: solid rgba(255,255,255,0.1);*/
    border-radius: 0px 40px 40px 40px;
    box-shadow: 0 0 15px rgba(8,7,16,0.6);
}

.mainProfile input {
    display: flex;
    text-align: center;
    font-size: 12px;
    width: 210px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 8px;

}
.mainProfile h2 {
    margin-bottom: 5px;
}
.mainProfile .btnSwap {
    position: absolute;
}
